<h2>Pregunta</h2>

<p>
  <form method="get" action="/quizzes/<%= quiz.id %>/check">
    <h3>
      <%= quiz.question %>
    </h3>

    <p>
     <% if (quiz.AuthorId) {
          if(quiz.Author) { %>
            (Creado por <a href="/users/<%= quiz.AuthorId %>"><%= quiz.Author.username %></a>)
          <% } else { %>
            (Usuario eliminado)
          <% } %>
     <% } else { %>
       (Creado por usuario anónimo)
     <% } %>
     </p>


    <% if (quiz.Attachment) { %>
      <img src="<%= quiz.Attachment.url %>" />
    <% } else { %> 
      <img src="/imgs/question.png" width="50px" />
    <% } %> 

    <p>
      <input type="text" name="answer" value="<%= answer %>" placeholder="Respuesta" />
      <input role="buttom" class="btn btn-primary" type="submit" value="Comprobar">
    </p>
  </form>
</p>

<h2>Comentarios</h2>

<% if (session.user) { %>
  <p>
    <a href="/quizzes/<%= quiz.id %>/comments/new"><button class="btn btn-success">Nuevo comentario</button></a>
  </p>
<% } %>

<table class="table table-hover">
  <% for (var i in quiz.Comments) { 
       var comment = quiz.Comments[i];
       if (comment.accepted) { %>
       <tr>
           <td> <%= comment.text %> </td>
           <td>
            <% if(comment.AuthorId) { 
                if (comment.Author) { %>
                    Por <a href="/users/<%= comment.AuthorId %>"><%= comment.Author.username %></a>
                <% } else{ %>
                    Por usuario eliminado
                <% } %>
            <% } else{ %>
              Por usuario anónimo
              <% } %>
            </td>
       <% } else if (session.user && 
                     (session.user.isAdmin || (quiz.AuthorId === session.user.id))) { %>
          <tr>
           <td> <%= comment.text %> </td>
           <td>
            <% if(comment.AuthorId) {
                if(comment.Author) { %>
                 (Por <a href="/users/<%= comment.AuthorId %>"><%= comment.Author.username %></a>)
                <% } else{ %>
                  Por usuario eliminado
                <% } %>
            <% } else{ %>
              Por usuario anónimo
            <% } %>
            </td>
            <td>
           <a href="/quizzes/<%= quiz.id %>/comments/<%= comment.id %>/accept?_method=PUT">
              <button class="btn btn-info">Aceptar</button>
           </a>
           </td>
           </tr>
        </tr>
       <% } %>
  <% } %>
</table>
